<link rel="import"
      href="../bower_components/polymer/polymer.html">
<link rel="import"
      href="../bower_components/iron-input/iron-input.html">

<dom-module id="test-polymer-template">

    <template>
        <!-- bind to the "owner" property -->
        This is <b>{{owner}}</b>'s name-tag element.
        <input is="iron-input" bind-value="{{owner}}"
               placeholder="Your name here...">
        <content></content>
    </template>

    <script>
        Polymer({
            is: "test-polymer-template",
            ready: function() {
                // set this element's owner property
                this.owner = "Stefan";
            },
            properties: {
                owner: {
                    type: String,
                    value: "Daniel"
                }
            }
        });
    </script>

</dom-module>